---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Input from "../components/Input.astro";
---

<Layout title="hola">
  <main
    class="bg-gray-100 flex items-center flex-col min-h-[60vh] w-full justify-center gap-4 mx-auto p-4"
  >
    <h2 class="font-bold lg:text-lg">Iniciar Sesión</h2>
    <form
      class="flex flex-col w-72 lg:w-96 gap-4 [&>input]:bg-white [&>input]:py-2 [&>input]:px-4 [&>button]:w-full items-center"
      action=""
    >
      <Input type="text" placeholder="Escriba su correo electrónico" />
      <Input type="text" placeholder="Escriba su contraseña" />
      <Button text="Entrar" />
    </form>
  </main>
</Layout>
