<section>
    <h2 class="font-bold mb-1 text-gray-700">Hable con nosotros</h2>
    <form class="flex flex-col gap-4 items-start w-full" action="">
        <div class="flex flex-col gap-1 p-2 bg-white rounded w-full">
            <label class="text-xs text-gray-400" for="">Nombre</label>
            <input
                class="font-medium bg-transparent focus:border-white focus-visible:outline-none focus:ring-white"
                type="text"
                value="André Lisboa"
            />
        </div>
        <div class="flex flex-col gap-1 p-2 bg-white rounded w-full">
            <label class="text-xs text-gray-400" for=""
                >Escribe tu mensaje</label
            >
            <textarea
                class="font-medium bg-transparent focus:border-white focus-visible:outline-none focus:ring-white"
                name=""
                id=""
                rows="5"></textarea>
        </div>
        <button
            class="bg-blue-600 text-gray-100 py-2 px-4 rounded block hover:bg-blue-900"
            >Enviar mensaje</button
        >
    </form>
</section>
